<div class="search-bar-wrapper">
	<input type="text" ng-model="searchText" ng-change="update();" class="search-bar-input"></input>
	<div class="autocomplete-result" ng-repeat="item in results">
		{{ item.name }}
	</div>
</div>
